# OS
.DS_Store

# Builds
dist/
.vite/
.vercel/

# Node
node_modules/
Server/node_modules/

# Env & secrets
.env
Server/.env
*.env.local
*.env.development.local
*.env.production.local

# Logs
npm-debug.log*
yarn-error.log*

# Editors
.vscode/
.idea/
